<app-card-template titleCard="Ordenes Venta">
  <h3 headerCard></h3>
  <div contentCard>
    <table class="table row-border hover compact">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>numero cedula</th>

          <th>Referencia</th>

          <th>Referencia de pago</th>
          <th>Valor del pago</th>
          <th>descripcion del pago</th>
          <th>Estado</th>

          <th>Fecha de pago</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</app-card-template>
