



<ul class="cards">
  <li>
    <a [routerLink]="['dashboard']"
    routerLinkActive="active-link" class="card">
      <img src="../../../assets/img/Dashboard.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
          <img class="card__thumb" src="../../../assets/img/dashboard.svg" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">DashBoard</h3>            
            <span class="card__status"></span>
          </div>
        </div>
        <p class="card__description">Información de toda la empresa</p>
      </div>
    </a>      
  </li>
  <li>
    <a [routerLink]="['/op_venta/dashboard-oportunidad']"
    routerLinkActive="active-link" class="card">
      <img src="../../../assets/img/oportunidad.jpg" class="card__image" alt="" />
      <div class="card__overlay">        
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
          <img class="card__thumb" src="../../../assets/op_venta.svg" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">Oportunidades de venta</h3>
            <span class="card__status"></span>
          </div>
        </div>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
      </div>
    </a>
  </li>
  <li>



    <a [routerLink]="['/menu-cotizacion']"    routerLinkActive="active-link" class="card">
      <img src="../../../assets/img/Cotizacion.jpg" class="card__image" alt="" />
      <div class="card__overlay">        
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
          <img class="card__thumb" src="../../../assets/cotizaciones.svg" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">Oportunidades de venta</h3>
            <span class="card__status"></span>
          </div>
        </div>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
      </div>
    </a>
  </li>
  <li>
    <a [routerLink]="['/menu-cotizacion']"   routerLinkActive="active-link" class="card">
      <img src="../../../assets/img/ordenesCompra.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
          <img class="card__thumb" src="../../../assets/compra&venta.svg" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">Ordenes de Compra y venta</h3>
            <span class="card__status"></span>
          </div>          
        </div>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
      </div>
    </a>
  </li>    
</ul>
<!-- segunda Seccion -->

<ul class="cards">
  <li>
    <a [routerLink]="['/DashBoard_inventario']"   routerLinkActive="active-link" class="card">
      <img src="../../../assets/img/inventario.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
          <img class="card__thumb" src="../../../assets/inventario.svg" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">Inventario</h3>            
            <span class="card__status"></span>
          </div>
        </div>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
      </div>
    </a>      
  </li>
  <li>
    <a [routerLink]="['/menu-cartera']"  routerLinkActive="active-link" class="card">
      <img src="../../../assets/img/cartera.jpg" class="card__image" alt="" />
      <div class="card__overlay">        
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
          <img class="card__thumb" src="../../../assets/cartera.svg" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">Cartera</h3>
            <span class="card__status"></span>
          </div>
        </div>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
      </div>
    </a>
  </li>
  <li>
    <a [routerLink]="['/menu-nomina']" routerLinkActive="active-link" class="card">
      <img src="../../../assets/img/nomina.jpg" class="card__image" alt="" />
      <div class="card__overlay">        
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
          <img class="card__thumb" src="../../../assets/nomina.svg" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">Nomina</h3>
            <span class="card__status"></span>
          </div>
        </div>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
      </div>
    </a>

  </li>
  <li>
    <a [routerLink]="['/data-configuracion']"    routerLinkActive="active-link" class="card">
      <img src="../../../assets/img/configuracion.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
          <img class="card__thumb" src="../../../assets/configuracion.svg" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">Usuarios y Configuraciones</h3>
            <span class="card__status"></span>
          </div>          
        </div>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
      </div>
    </a>
  </li>    
</ul>



